* {
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(71, 255, 132);   
    font-family: arial;
    color: rgba(0, 0, 0, .8);
}

.container {
    background-color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    padding: 1.8em; 
}

#title {
    font-size: 2.8em;
}

#description {
    font-size: 1.4em;
    margin: 12px 0 ;
    color: rgb(85, 85, 85);
}

.question-container {
    padding: 10px 0;
    display: none; 
}

.question-container.active {
    display: block;
}

.question-title {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.input-container {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    padding: 10px 0; 
}

.input-container input {
    flex: 1 auto;
}

.input-container label {
    text-align: left;
    width: 33.33% ;
}

.btns-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.btn , .disable {
    color: rgba(0, 0, 0, .5);
    margin-left: 12px;
    border: none;
    font-size: 1.2em;
    padding: 8px 12px;  
    cursor: pointer;
}

.btn-styled {
    background-color: rgb(71, 255, 132);
    color: rgb(255, 255, 255); 
}