:root {
    --color-header: rgb(57,172,231);
    --color-body: rgba(57, 173, 231, 0.13);
    --color-typo-dark: rgba(25, 36, 40, 0.80);
    --color-typo-light: rgba(65, 76, 80, 0.20);
    --color-typo-basic: rgba(0, 0, 0, .8);
    --color-white: rgb(255,255,255);
    --color-white-light: rgba(255, 255, 255, 0.80); 
    --color-btn-styled: rgb(172, 71, 255);
    --color-btn-styled-onHover: rgb(108, 51, 182);
    --font: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body);
    font-family: var(--font);
    color: var(--color-typo-basic);
}

header {
    background-color: var(--color-header);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.8em 0;
}

#survey-form .container{
    padding: 1.4em;
    margin-top: -1.4em;
    background-color: #ffffff;
    border-radius: .2em;  
    box-shadow: 2px 2px 0px 1px var(--color-typo-light);
}

#title {
    font-size: 2.8em;
    color: var(--color-white);
}

#description {
    font-size: 1.4em;
    margin: 12px 0;
    color: var(--color-white-light);
}

.question-container {
    padding: 10px 0;
    display: none;
    position: relative;
}

.question-container.active {
    display: block;
    animation: reveal 1s ease-in-out ;
}

.center {
    text-align: center;
}

/* animation reaveal */
@keyframes reveal {
    0% {
        top: 12px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
}

.question-title {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--color-typo-dark);
}

.input-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.input-container input , .input-container select , .input-container textarea {
    border: none;
    flex: 3;
    border-radius: 3px;
    padding: 15px;
    background-color: var(--color-body);
    color: #3a3a3a;
    outline: none;
    font-family: var(--font);
    transition: all .2s ease-in-out;
}

.input-container input:focus , .input-container textarea:focus {
    box-shadow: inset 0px 0px 0px 3px var(--color-header);
    background-color: white;
    transition: all .2s ease-in-out;
}

.input-container label {
    align-self: center;
    text-align: right;
    margin-right: 15px;
    flex:1;
    font-weight: bold;
    color: var(--color-typo-dark);
}
.btns-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.btn {
    color: rgba(0, 0, 0, .5);
    margin-left: 12px;
    border: none;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: inherit;
    font-weight: bold;
    outline: none;
}

.btn-styled {
    background-color: var(--color-btn-styled);
    color: rgb(255, 255, 255);
    transition: all .2s ease-in-out;
}

.btn-styled:hover , .btn-styled:focus {
    background-color: var(--color-btn-styled-onHover);
    transition: all .2s ease-in-out;
}

.visible {
    visibility: visible;
}

.not-visible {
    display: none;
    visibility: hidden;
}
